.form-container{
    padding: 20px;
    background: #f1f1f1;
    text-align: left;
}

.form-container h2{
    font-size: 1.75rem;
    font-weight: bold;
}

.red {
    color: #8e0202;
    font-weight: bold;
}

legend {
    font-size: 1.6rem;
    font-weight: bold;
}

.alert-danger {
    background: #f1e7e7;
}

.alert-danger h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.alert-danger a{
    color: blue;
}